rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      allow read: if true;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.uid;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.uid;
    }
    match /challenges/{challengeId} {
      allow read: if true;
      allow write: if false; // Challenges are read-only for now
    }
    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth != null && request.auth.uid == userId;
      
      // Allow user to only access their own dashboard data
      match /dashboard/{document=**} {
        allow read: if request.auth != null && request.auth.uid == userId;
        allow write: if false; // Dashboard data is read-only for now
      }
    }
  }
}
